body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.container{
    display: flex;
    width: 600px;
    justify-content: center;
    border-radius: 20px;
}

.result {
    color: #fff;
    padding: 20px;
    width: 40%;
    text-align: center;
    border-radius: 20px;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));

}

.result h3{
    text-align: center;
}

.results_scored{
    padding: 50px;
    width: 74px;
    height: 74px;
    border-radius: 100%;
    box-shadow: inset 1px 1px 12px 0px hsla(256, 72%, 46%, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

.total_results{
    color: #fff;
    font-weight: bold;
    font-size: 60px;
}

.summary{
    width: 50%;
    padding: 20px ;
}


.score_reaction{
    display: flex;
    justify-content: space-between;
    background-color: hsla(0, 100%, 67%, 0.2);
    color: hsl(0, 100%, 67%);
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 10px;
}

.grey{
    color: rgba(87, 87, 87, 0.997);
}
.black_color{
    color: black;
}
.scores img{
    margin-right: 5px;
}

.score_memory{
    display: flex;
    justify-content: space-between;
    background-color: hsla(54, 100%, 67%, 0.2);
    color: hsl(39, 100%, 56%);
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 10px;
}

.score_verbal{
    display: flex;
    justify-content: space-between;
    background-color: hsla(147, 100%, 67%, 0.2);
    color: hsl(166, 100%, 37%);
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 10px;
}

.score_visual{
    display: flex;
    justify-content: space-between;
    background-color: hsla(236, 100%, 67%, 0.2);
    color: hsl(234, 85%, 45%);
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 10px;
}

button{
    padding: 15px ;
    border: none;
    outline: none;
    color: white;
    background-color: hsl(224, 30%, 27%);
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
}

.other_score{
    color: hsl(241, 52%, 82%);
}

.your_results{
    color: hsl(241, 52%, 82%);
}

p{
    color: hsl(241, 52%, 82%);
}

